.role-card {
  height: 90px;
  min-width: 200px;
  max-width: 300px;
  border-radius: 0px;

  :not(:last-child) {
    margin-right: 10px;
  }

  mat-card-title {
    font: normal normal 400 14px/18px Roboto;
    letter-spacing: 0px;
    color: #003161;
    opacity: 1;
  }

  mat-card-content {
    text-align: left;
    font: normal normal 400 14px/16px Roboto;
    letter-spacing: 0px;
    color: #636363;
    opacity: 1;
  }
}

.active {
  border: 1px solid blue;
}
